---
layout: posts_corporate
---

<section class="posts__body">
  {% set postslist = collections.post_corporate %} {% for post_corporate in
  postslist | reverse %}
  <article class="posts__content">
    <h3 class="posts__heading">
      <a href="{{ post_corporate.url | url }}">
        {% if post_corporate.data.title %} {{ post_corporate.data.title }} {%
        else %} Untitled {% endif %}
      </a>
    </h3>
      <a href="{{ post_corporate.url | url }}" class="posts__link"
        >
        <img src="{{post_corporate.url}}{{post_corporate.data.image}}" class="posts__image" alt="" />
      </a>
    </p>
  </article>
  {% endfor %}
</section>
