---
layout: default
---

<section class="post__body">
  {% set image = collections.festival %} {% for festival in image %}
  <div class="post__content">
  <a href="{{festival.url}}{{festival.data.galleryImages[0]}}"><img src="{{festival.url}}{{festival.data.galleryImages[0]}}" class="post__image" alt=""/></a>
  <a href="{{festival.url}}{{festival.data.galleryImages[1]}}"><img src="{{festival.url}}{{festival.data.galleryImages[1]}}" class="post__image" alt=""/></a>
  <a href="{{festival.url}}{{festival.data.galleryImages[2]}}"><img src="{{festival.url}}{{festival.data.galleryImages[2]}}" class="post__image" alt=""/></a>
  </dvi>
  {% endfor %}
</section>
