---
layout: posts_festival
---

<section class="posts__body">
  {% set postslist = collections.post_festival %} {% for post_festival in
  postslist | reverse %}
  <article class="posts__content">
    <h2 class="posts__heading">
      <a href="{{ post_festival.url | url }}">
        {% if post_festival.data.title %} {{ post_festival.data.title }} {% else
        %} Untitled {% endif %}
      </a>
    </h2>
      <a href="{{ post_festival.url | url }}" class=""> Read more → 
        <!-- <img src="{{ posts_corporate.data.kep.url | url }}" class="post__image" alt="" /> -->
      </a>
    </p>
  </article>
  {% endfor %}
</section>
